<!DOCTYPE html>
<html>
<head>
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Adicionar Produtos</h1>
  
  <div class="content">
    <div class="content--add-prod">
        <form action="form-produto" method="POST">

          <input type="text" id="input-new-prod" name="nome" placeholder="Nome...">

          <select id="select-prod" name="status">
            <option value="Disponível">Disponível</option>
            <option value="Indisponível">Indisponível</option>
          </select>
  
          <input type="text" id="input-destination" name="destinacao" placeholder="Destinação">
  
          <input type="number" id="input-rate" name="taxa_rentabilidade" placeholder="Taxa de Rentabilidade">
  
          <input type="number" id="input-time" name="prazo" placeholder="Prazo">
  
          <input type="number" id="input-manage" name="taxa_adm" placeholder="Taxa de Administração">
  
          <button id="btn-new-prod" type="submit" title="Adicionar Produto">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" 
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" 
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg>
            </button>
    </div>

    <div class="content--body">
          <ul id="prod-list">
      {{#each produtos}}
        <li>
          <div class="produto">
            <div class="um">
              <div class="nome">
                <strong>Nome:</strong> {{this.nome}} 
              </div>
              <div class="status">
                <strong>Status:</strong> {{this.status}} 
              </div>
              <div class="dest">
                <strong>Destinação:</strong> {{this.destinacao}} 
              </div>

            </div>
            <div class="dois">
              <div class="rent">
                <strong>Rentabilidade:</strong> {{this.taxa_rentabilidade}}% 
              </div>
              <div class="prazo">
                <strong>Prazo Mínimo:</strong> {{this.prazo}} meses 
              </div>
              <div class="taxa">
                <strong>Taxa Admin.:</strong> {{this.taxa_adm}}%
              </div>
            </div>
          </div>
            <button class="remove-button" title="Remover Produto" onclick="removerProduto('{{this.id}}')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M2 3a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1H2V3z"/>
            <path fill-rule="evenodd" d="M5.293 10.293a1 1 0 1 1 1.414-1.414L8 10.586l1.293-1.293a1 1 0 1 1 1.414 1.414L9.414 12l1.293 1.293a1 1 0 0 1-1.414 1.414L8 13.414l-1.293 1.293a1 1 0 0 1-1.414-1.414L6.586 12 5.293 10.707a1 1 0 0 1 0-1.414z"/>
          </svg>
            </button>

            <button class="status-button" title="Mudar Status" onclick="mudarStatus('{{this.id}}', '{{this.status}}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
              </svg>
            </button>

        </li>
      {{/each}}
          </ul>
    </div>
  </div>

</body>
<script>
  function removerProduto(id) {
    if (confirm("Tem certeza de que deseja remover o produto?")) {
      fetch(`/produto/${id}`, {
        method: "DELETE"
      }).then(response => {
        if (response.ok) {
          location.reload(); 
        } else {
          console.error("Erro ao remover produto");
        }
      });
    }
  }

    function mudarStatus(id, statusAtual) {
    const novoStatus = statusAtual === "Disponível" ? "Indisponível" : "Disponível";
    if (confirm(`Tem certeza de que deseja mudar o status para ${novoStatus}?`)) {
      fetch(`/produto/${id}/status`, {
        method: "PUT"
      }).then(response => {
        if (response.ok) {
          location.reload(); 
        } else {
          console.error("Erro ao mudar o status do produto");
        }
      });
    }
  }

</script>
</html>
